[submodule "app/src/main/assets/Scripts"]
	path = app/src/main/assets/Scripts
	url = https://github.com/Android-Boot-Manager/Scripts
[submodule "app/src/main/assets/Toolkit"]
	path = app/src/main/assets/Toolkit
	url = https://github.com/Android-Boot-Manager/Toolkit
