<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<application
		android:gwpAsanMode="always"
		android:allowBackup="false"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:icon="@mipmap/ic_launcher"
		android:installLocation="internalOnly"
		android:label="@string/app_name"
		android:resizeableActivity="true"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="false"
		android:theme="@style/AppTheme"
		tools:ignore="DataExtractionRules"
		tools:targetApi="s">
		<service
			android:name=".util.StayAliveService"
			android:exported="false"
			android:foregroundServiceType="specialUse">
			<property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
				android:value="Update Android device bootloader / install OS to SD card"/>
		</service>

		<activity
			android:name=".WizardActivity"
			android:configChanges="density|fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
			android:exported="false"
			android:theme="@style/AppTheme" />
		<activity
			android:name=".MainActivity"
			android:exported="true"
			android:configChanges="keyboard|keyboardHidden|orientation"
			android:theme="@style/AppTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".themes.Simulator"
			android:exported="false"
			android:process=":simulator"
			android:taskAffinity=""
			android:noHistory="true"
			android:screenOrientation="nosensor"
			android:excludeFromRecents="true"
			android:configChanges="keyboard|keyboardHidden|uiMode"
			android:theme="@style/Simulator"
			tools:ignore="DiscouragedApi" />
	</application>

</manifest>